#root {
  width: 100%;
  height: 100vh;
}

.base-background {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #090908;
}

.headerLink {
  color: #f0ec14;
}

.headerLink:hover {
  color: #868534;
  text-decoration: none;
}

.headerBar {
  background-color: #090908;
  position: sticky !important;
}

.titleDisplay {
  color: #f0ec14;
  font-weight: bold;
  font-size: 30px;
}

.titleBar {
  background-color: #090908;
  position: sticky !important;
  top: 0;
}

.formStyle:not(active) {
  color: #f0ec14;
}

.formStyle:focus {
  color: red;
}

.formStyle::placeholder {
  color: #868534;
}

.formStyle:hover {
  color: #868534;
  text-decoration: none;
}

.formStyle:-internal-autofill-selected {
  background-color: #090908;
  color: #f0ec14;
}

.colored-text {
  color: #f0ec14;
}
